.program {
  height: 230px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 25px;
  justify-content: space-evenly;
  @media(max-width: 1250px){
    width: 350px;
  }
  .program__title {
    display: flex;
    align-items: center;
    h1 {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #00093c;
      max-width: 250px;
      margin-left: 15px;
      cursor: pointer;
    }
  }
  .program__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #4f4f4f;
    max-width: 340px;
  }
}
